/*********************************************

This is the style file for this project.

**********************************************/
body{
  display: inline-block;
  position: absolute;
  margin-top: 10%;
  margin-left:30%;
  margin-right:30%;
  background-color: lavender;
  /* text-align: center;
  background-color: lavender;
  font-family: "Aguafina Script";
  font-size: 50px; */
}

p {
  text-align: center;
  font-family: "Aguafina Script";
  font-color: white;
  font-size: 40px;
  text-shadow: 5px 5px 30px indigo;
}
#refresh {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(204, 255, 225);
  font-family: monospace;
  font-size: 20px;
  height: 80px;
  width: 150px;
}
