/*formats entire web document- creates a soft pastel background, and sets the cursor to a reaching hand*/
.container {
  background-image: linear-gradient(to bottom right, rgb(205, 221, 247),rgb(247, 205, 207));
  position:relative;
  height: 100vh;
  width: 100vw;
  cursor: url("../assets/images/reachingHand.png"),auto;
}

/*sets a tree in the middle of the web page*/
.static {
  position:static;
  z-index:-1;
  width: 40%;
  margin-top:2%;
  margin-left:30%
}

/*general class format- size of the div. also sets the cursor to change when hovering*/
.fig {
  height:100px;
  width:100px;
    cursor: url("../assets/images/holdingHand.png"),auto;
  }

  /*general class for healthy figs- sets image size and source*/
.healthy {
  background-image: url("../assets/images/fig.png");
  background-size: 75px;
  background-repeat: no-repeat;
}

/*general class for rotten figs. sets image size and new div size*/
.rotten {
  background-image: url("../assets/images/figRotten.png");
  height:200px;
  width:200px;
  background-size: 130px;
  background-repeat: no-repeat;
}

/*manually positions the fig images around the tree*/
#fig1 {
  position: absolute;
  left: 30%;
  top: 33%;
}

#fig2 {
  position: absolute;
  left: 37%;
  top: 12%;
}

#fig3 {
  position: absolute;
  right: 30%;
  top: 33%;
}

#fig4 {
  position: absolute;
  right: 37%;
  top: 6%;
}

#fig5 {
  position: absolute;
  right: 50%;
  top: 32%;
}

#fig6 {
  position: absolute;
  left: 45%;
  top: 4%;
}

#fig7 {
  position: absolute;
  left: 40%;
  top: 45%;
}

#fig8 {
  position: absolute;
  left: 50%;
  top: 55%;
}

#fig9 {
  position: absolute;
  right: 35%;
  top: 45%;
}

#fig10 {
  position:absolute;
  right:40%;
  top:25%;
}

/*sets size of div and image of general-use cursor*/
#reachingHand {
  position: absolute;
  left:100px;
  top:100px;
  height:100px;
  width:100px;
}

/*formatting for all text appearing at the left hand side of the screen*/
.text{
  height:30px;
  width:200px;
  text-align:center;
  position:absolute;
  font-family:Andale mono, monospace;
  left:150px;
  top:250px;
  z-index:100;
}

/*sets yellow text on left of screen, to be displayed when a fig is selected*/
.figSelected{
  color:rgb(255, 247, 209);
  font-size:25px;
}

/*sets text to appear- orange- when a single fig rots*/
.reactionToRottenFig {
  color: rgb(175, 17, 17);
  font-size:20px;
}

/*sets text to appear-black- when all but the selected fig die */
.allFigsDead{
  color: rgb(0,0,0);
  font-size:25px;
}

/*positions button to appear in right-hand side of screen, offering reload option*/
.reload{
  text-align:center;
  position:absolute;
  font-family:Andale mono, monospace;
  right:200px;
  bottom:200px;
  background-color: rgb(70,70,70);
  width:150px;
  height:50px;
  color:rgb(255, 247, 209);
font-size: 30;
}
/* formats both buttons giving the choice between trying or rejecting a fig */
.choice {
  width:200px;
  height:100px;
  font-family:Andale mono, monospace;
  font-size:20px;
  color: rgb(255, 216, 209);
  background-color:rgb(155, 154, 153);
  cursor: url("../assets/images/reachingHand.png"),auto;
  border-radius: 20px;

}
/*the button choosing to taste the fig*/
#taste {
  position: absolute;
  right: 100px;
  bottom:500px;
}
/*the button rejecting the fig*/
#reject {
  position:absolute;
  right: 100px;
  bottom:300px;
}

/*button toggling audio*/
.audioToggle{
  cursor: url("../assets/images/reachingHand.png"),auto;
  position: absolute;
  top:50px;
  right: 70px;
  color: indigo;
  background-color: lavender;
  width: 100px;
  height:70px;
  font-family:Andale mono, monospace;
}
