#chatWrapper{
  display: block;
  background-color: lavender;
  width: 450px;
  height: 500px;
  border-style: ridge;
  border-width: thick;
  border-color: rgb(211, 255, 216);
}

#close, #send{
  font-family: monospace;
  margin-left:85%;
}

#chatLog{
  border-style:inset;
  border-color: lavender;
  border-width: thick;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  height: 315px;
  background-color: black;
  overflow:scroll;
}

#userInput, #botInput{
  display: block;
  font-size: 20px;
  font-family:monospace;
}

#userInput{
  color: lavender;
}

#botInput{
  color: lime;
}

#message{
  display:block;
  z-index: inherit;
  margin: 10px;
}

#send{
  color: rgb(211, 255, 216);
  background-color: darkgrey;
  border-width: medium;
}
