
div {
  margin: 40px;
}

.normal {
  background-image: url("../assets/images/paper.jpg");
  font-weight: bold;
  background-size: 700px 700px;
  background-repeat: no-repeat;
  background-position: center;
}

.destructMe{
 background-image: url("https://i.pinimg.com/originals/92/f4/a0/92f4a03d6ac3e7da883f64dde6c4f5eb.jpg");
 font-weight:bold;
 background-size: 700px 700px;
 background-repeat: no-repeat;
 background-position: center;
 transform: rotateY(0deg) scale(1);
 animation-name: animation;
  animation-duration: 10s;
}

#first{
  margin-top: 50px;
}
.paragraph{
   margin-left: 550px; 
  margin-top: 10px;
  margin-bottom:10px;
  width: 600px;
  text-align: justify;
  position: center;
  font-size: 10pt;
  font-family: Courier,monospace;
}

.redacted {
  background-color: black;
  color: transparent;
}

.revealed {
  background-color: transparent;
  color: red;
}

.secret {
  background-color: transparent;
  color: black;
}

.revealedSecret {
  background-color: yellow;
  color: black;
}

#tracker {

  color: black;
  font-family:Courier,monospace;
  text-align: right;
  font-size: 15px;
  margin-top: 60px;
 margin-right:700px;

}

#gotcha {
  color: black;
  font-family:Courier,monospace;
  text-align: right;
  margin-top: 30px;
 margin-right:200px;
}

.yikes {
  color:red;
}

@keyframes animation {
  from {
    background-size: 700px 700px;
    transform: rotateY(0deg) scale(1); }
  to {
    background-size: 70px 70px;
    transform:rotateY(720deg) scale(0.1);
  }
}

}
